.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 70px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 10px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 980px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


a.navbar-brand {
    color: white !important;
}

:target:before {
  content:"";
  display:block;
  height:50px; /* fixed header height*/
  margin:-50px 0 0; /* negative fixed header height */
}

/* Shadows*/

.shadow1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow2 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*my changes*/

.navbar-inverse .navbar-nav > li > a {
  color: #ECECEC;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.26);
  font-size: 16px;
}

.navbar-inverse {
  background-color: #673AB7;
  border-color: #512DA8;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #512DA8;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #512DA8;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #512DA8;
}

.navbar-inverse .navbar-toggle {
  border-color: #512DA8;
}

.nav > li > a {
  padding: 15px 10px;
}

/* About */

p .aboutText {
  margin-bottom: 20px;
}

.media .logoMedia {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

/*Networks*/

.pNet {
  text-align: center;
  margin: 0;
}

.btnNet {
    font-size: 20px !important;
    padding: 3px;
    width: 150px;
    border-radius: 2px;
    color: white;
    margin: 5px 5px;
    background-color: #673AB7;
    border: 1px solid #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
}

.btnNet:hover {
  color: white;
  background-color: #512DA8;
  border: 1px solid white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.btnNet:active {
  color: white;
  background-color: #E040FB;
  border: 1px solid white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.mdiExpMenu {
  font-size: 24px;
  color: white;
}

.navbar-toggle {
  padding: 4px 7px 1px 8px;
}

.mdiMedia {
  font-size: 64px;
}
.colorMedia {
  background-color: #673AB7;
  color: white;
  padding: 20px 0;
  border-top: 1px solid #D1C4E9;
  border-bottom: 1px solid #512DA8;
  box-shadow: inset  0 10px 20px rgba(0,0,0,0.19), inset 0 6px 6px rgba(0,0,0,0.23);
}

.hobbies {
  background-color: white;
  border-radius: 50%;
  width: 100%;
  height: 0;
  color: #673AB7;
  padding-top: 13px;
}

dt {
  font-size: 50px;
}

dd {
  margin-top: -15px;
}

.circle-text {
    width:80%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #673AB7;
    border: 1px solid white;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.circle-text dl {
    float:left;
    width:100%;
    padding-top:10%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}


.sectionPadding {
  padding: 10px 0;
}


.sectionHobbies:hover .mdi-heart {
  color: red;
}

.btn-hobbies {
  border-radius: 2px;
  padding: 9px 20px;
  background-color: white;
  color: #673AB7;
  border:none;
  width: 100px;
  border: 1px solid white;
  margin-bottom: 20px;
  cursor: default;
  transition: all 0.2s ease-in-out;
}

.btn-hobbies:hover  {
  color: white;
  background-color: #512DA8;
  border: 1px solid white;
}

.btn-hobbies .mdi {
  font-size: 45px;
}

.sectionHobbies h2, .sectionHobbies mdi-heart {
  text-align: center;
  font-size: 30px;
}


/*Education*/

.titleEdu {
  margin-bottom: 30px;
  border-bottom: 1px solid #D6D6D6;
  transition: all 0.2s ease-in-out;
}

.marketing:hover .titleEdu   {
  color: #673AB7;
  border-bottom: 1px solid #673AB7;
}



.educationBox {
  border: 1px solid #D6D6D6;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}

.educationBox:hover {
  border: 1px solid #673AB7;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.educationBox h3, .educationBox p {
  padding: 10px;
  margin: 0;
  transition: all 0.2s ease-in-out;
}

.educationBox p {
  font-size: 13px;
}

.educationBox .squareEdu {
  padding: 10px;
  margin-right: 10px;
  background-color: #D6D6D6;
  font-size: 13px;
  font-weight: bold;
}

.educationBox:hover .squareEdu {
  color: white;
  background-color: #673AB7;
  transition: all 0.2s ease-in-out;
}

.educationBox:hover h3 {
  color:  #673AB7;
}



/*PORTFOLIO*/

#portfolio .titleEdu.small h1{
  font-size: 26px;
}

#portfolio .titleEdu.small h1 .stuff{
  font-size: 13px;
}

.panel-default {
  border: none;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}

.panel-default:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
/*
.panel-heading {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 64%, rgba(0,0,0,0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(64%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 64%,rgba(0,0,0,0.65) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 64%,rgba(0,0,0,0.65) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 64%,rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 64%,rgba(0,0,0,0.65) 100%);
}
*/


.btnLink {
  border-radius: 50%;
  font-size: 24px;
  height: 56px;
  margin: auto;
  min-width: 56px;
  width: 56px;
  padding: 0;
  overflow: hidden;
  color: white;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
  position: relative;
  line-height: normal;
  background: #AA00FF;
  color: #fff;
  float: right;
  top: 260px;
  transition: all 0.2s ease-in-out;
}

.btnLink:hover {
  color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.iconLink {
}

#portfolio .panel-body h4 {
  font-size: 24px;
  color: #673AB7;
}
#portfolio .panel-body {
  height: 160px;
}
/*PORTFOLIO END*/

/*WORK*/
.workmargin {
  margin-bottom: 10px;
}
.work .media-left {
  color: #673AB7;
  font-size: 12px;
  border-right: 1px solid;
  text-align: right;
  min-width: 70px;
}
.work .media-body {
  padding-left: 12px;
}
.work .media-body h4 {
  color: #673AB7;
  font-size: 24px;
}

.work .media-body h5 {
  margin-bottom: 4px;
}

a {
  color: #673AB7;

}

a:hover, a:focus {
  color: #512DA8;
}
/* NEW VERSION */


.mainhead h1{
  color: white;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #673AB7;
  border-top: 1px solid #D1C4E9;
  border-bottom: 1px solid #512DA8;
}


.downCV {
  color: white;
  padding:  4px 7px 3px 7px;
}
.downCV:hover {
  border-color: white;
}

.downCV .mdi {
  font-size: 18px;
}
